/* ==========================================
   LOGIN PAGE
========================================== */

.login-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#E65100,#FB8C00);

    padding:20px;

}

.login-card{

    width:100%;
    max-width:420px;

    background:#fff;

    border-radius:18px;

    padding:40px;

    box-shadow:0 20px 50px rgba(0,0,0,.18);

}

.logo{

    width:90px;

    height:90px;

    margin:auto;

    border-radius:50%;

    background:var(--primary);

    display:flex;

    justify-content:center;

    align-items:center;

    color:#fff;

    font-size:38px;

    font-weight:bold;

}

.login-card h1{

    text-align:center;

    margin-top:20px;

}

.subtitle{

    text-align:center;

    margin-bottom:35px;

}

.form-group{

    margin-bottom:20px;

}

.password-box{

    position:relative;

}

.password-box input{

    padding-right:50px;

}

.toggle-password{

    position:absolute;

    top:50%;

    right:15px;

    transform:translateY(-50%);

    cursor:pointer;

    color:#777;

}

.remember{

    display:flex;

    align-items:center;

    gap:8px;

    margin:15px 0 25px;

}

.remember input{

    width:18px;

    height:18px;

}

.footer{

    margin-top:25px;

    text-align:center;

    color:#999;

    font-size:14px;

}
